@model SYSVendas.MVC.ViewModels.VendaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VendaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
